*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.app-body{
    width: 400px;
    height: auto;
}

.app-header{
    width: 100%;
    margin-bottom: 45px;
    padding: 20px 0;
}

#form{
    width: 85%;
    display: block;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 99;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.searchbox{
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px 1.5px rgb(0, 0, 0,.5);
    padding-left: 40px;
    padding-right: 70px;
}

#submit{
    position: absolute;
    right: 5px;
    width: 60px;
    font-weight: 600;
    font-size: 15px;
    height: 38px;
    background: none;
    outline: none;
    border: none;
    background: purple;
    border-radius: 5px;
    color: whitesmoke;
}


.app-content{
    width: 100%;
    height: auto;
    background-color: rgb(243, 239, 239);
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 2.5px 3px gray;
}

.first-section{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.img-cont{
    width: 90px;
    height: 90px;
}

.img-cont img{
    width: 100%;
    height: 100%;
}

.nain{
    font-size: 23px;
    font-weight: 600;
}

.description{
    font-size: 20px;
    font-weight: 500;
}

.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    position: relative;
}

.location{
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
    position: relative;
}

.position{
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    line-break: auto;
    word-wrap: break-word;
}

.country{
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: rgb(235, 176, 27);
    font-size: 13px;
    font-weight: 600;
    padding: 2px 3px;
    border-radius: 10px;
}

.temp{
    font-size: 36px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
}

.small{
    font-size: 25px;
    font-weight: 600;
}

.third-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 17px;
    font-weight: 600;
}



@media only screen and (max-width: 600px){
    main{
        width: 100%;
        min-height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .app-body{
        width: 85%;
    }

    .position{
        font-size: 24px;
    }
}